---
import Layout from "@/src/layouts/Layout.astro";
import LineaDeTiempo from "@/src/modules/Institucional/LineaDeTiempo.astro";

---

<Layout title="Sobre cantera">
  <div class="relative z-20 w-full mx-auto">
    <div class="relative h-[70vh] overflow-hidden bg-indigo-900">
      <div class="absolute inset-0">
        <LineaDeTiempo />
      </div>
    </div>
  </div>
</Layout>

<style is:global>
  .prose p,
  .prose ul {
    @apply my-6 block mx-auto max-w-3xl;
  }

  .prose img {
    @apply my-0;
  }
</style>
