---
import { useSanityClient } from "astro-sanity";
import Layout from "@/src/layouts/Layout.astro";
import LineaDeTiempo from "@/src/modules/Institucional/LineaDeTiempo.astro";
import PageSectionsPlugs from "@/components/PortableText/PageSectionsPlugs.astro";
const about = await useSanityClient().fetch(
  `*[_type == "nuestra_historia"]  | order(publishedAt desc) [0]`
);
---

<Layout title="Sobre cantera">
  <div class="relative z-30 w-full mx-auto">
    <LineaDeTiempo />
    <PageSectionsPlugs content={about.content} />
  </div>

  <style is:global>
    section .PlugBlockeditorGrillaDoble:nth-child(odd) {
      @apply md:!flex-row-reverse;
    }

    section .portable-text {
      @apply prose  max-w-full p-3 md:px-12 md:py-0;
    }
  </style>
</Layout>
