---
import Layout from "@/src/layouts/Layout.astro";
import InstitucionalQueHacemos from "@/src/modules/Institucional/InstitucionalQueHacemos.astro";
import InstitucionalQuienesSomos from "@/src/modules/Institucional/InstitucionalQuienesSomos.astro";
import LaCanteraHero from "@/src/modules/Institucional/LaCanteraHero.astro";
---

<Layout title="Sobre cantera">
  <LaCanteraHero />
  <div class="relative z-10 bg-white">
    <InstitucionalQuienesSomos />
  </div>
</Layout>

<style is:global>
  .prose p,
  .prose ul {
    @apply my-6 block mx-auto max-w-3xl;
  }

  .prose img {
    @apply my-0;
  }
</style>
