---
import Layout from "@/layouts/Layout.astro";
import GrainOne from "@/components/UI/Grain/GrainOne.astro";
import BlobPlotScene from "@/components/UI/Backgrounds/BlobPlotScene.astro";
import QueHacemosCards from "@/modules/Institucional/QueHacemosCards.astro";
---

<Layout title="Que hacemos">
  <div
    class="relative flex items-center justify-center py-6 overflow-hidden bg-blue-600 bg-gradient-to-tr from-indigo-400"
  >
    <h1
      class="relative z-10 font-hand text-center max-w-screen-2xl mx-auto w-full text-2xl p-6 text-white md:text-7xl py-12"
    >
      ¿Qué hacemos?
    </h1>
    <div class="absolute inset-0 z-0 opacity-90">
      <GrainOne />
    </div>
    <div
      class="absolute animate__fadeIn animate__animated animate__slower bg-blue-600 inset-0 z-0 !opacity-10"
    >
      <BlobPlotScene />
    </div>
  </div>
  <div class="min-h-[60vh]">
    <QueHacemosCards />
  </div>
</Layout>

<style is:global>
  .que-hacemos #headroom {
    @apply border-b-blue-600  border-t-transparent bg-blue-50/90 backdrop-blur-sm !important;
  }
  .que-hacemos #menuOffcanvas {
    @apply ring-blue-400;
  }
</style>
