---
import Layout from "@/layouts/Layout.astro";
import GrainOne from "@/components/UI/Grain/GrainOne.astro";
import WaveScene from "@/components/UI/Backgrounds/WaveScene.astro";
import QueHacemosCards from "@/modules/Institucional/QueHacemosCards.astro";
---

<Layout title="Que hacemos">
  <div
    class="relative flex items-center justify-center py-6 overflow-hidden bg-blue-600 bg-gradient-to-tr from-indigo-400"
  >
    <h1
      class="relative z-10 font-sans  text-left max-w-7xl mx-auto w-full text-2xl px-6 text-white md:text-3xl"
    >
      ¿Qué hacemos?
    </h1>
    <div class="absolute inset-0 z-0 opacity-90">
      <GrainOne />
    </div>
    <div
      class="absolute animate__fadeIn animate__animated animate__slower inset-0 z-0 opacity-40"
    >
      <WaveScene />
    </div>
  </div>
  <div class="min-h-[60vh]">
    <QueHacemosCards />
  </div>
</Layout>

<style is:global>
  .que-hacemos #headroom {
    @apply border-blue-600 bg-blue-50/90 backdrop-blur-sm !important;
  }
  .que-hacemos #menuOffcanvas {
    @apply ring-blue-400;
  }
</style>
