---
import Layout from "@/layouts/Layout.astro";
import GrainOne from "@/components/UI/Grain/GrainOne.astro";
import StrackedScene from "@/components/UI/Backgrounds/StrackedScene.astro";
import RecursosCards from "@/modules/Recursos/RecursosCards.astro";

---

<Layout title="Recursos">
  <div
    class="relative flex items-center justify-center pt-32 pb-32 overflow-hidden bg-gradient-to-tr from-teal-400 bg-teal-600"
  >
    <h1 class="relative z-10 font-sans text-4xl text-white md:text-6xl animate__fadeIn animate__animated">Recursos</h1>
    <div class="absolute inset-0 z-0 opacity-90">
      <GrainOne />
    </div>
    <div class="absolute inset-0 z-0 opacity-30">
      <StrackedScene/>
    </div>
  </div>
  <RecursosCards/>
</Layout>

<style is:global>
  .recursos #headroom {
    @apply border-teal-400  ;
  }

  .recursos #menuOffcanvas {
    @apply ring-teal-400;
  }
</style>