---
import Layout from "@/layouts/Layout.astro";
import GrainOne from "@/components/UI/Grain/GrainOne.astro";
import BlobPlotScene from "@/components/UI/Backgrounds/BlobPlotScene.astro";
import RecursosCards from "@/modules/Recursos/RecursosCards.astro";
---

<Layout title="Recursos">
  <div
    class="relative flex items-center justify-center pt-32 pb-32 overflow-hidden bg-gradient-to-tr from-red-600 bg-red-700"
  >
    <h1
      class="relative z-10 font-hand text-5xl text-white md:text-7xl animate__fadeIn animate__animated"
    >
      Recursos
    </h1>
    <div class="absolute inset-0 z-10 opacity-60">
      <GrainOne />
    </div>
    <div class="absolute inset-0 z-0 !opacity-10">
      <BlobPlotScene />
    </div>
  </div>
  <div class="min-h-screen bg-gray-200 pb-24">
    <RecursosCards />
  </div>
</Layout>

<style is:global>
  .recursos #headroom {
    @apply border-b-red-400 border-t-transparent bg-red-100/90 backdrop-blur-lg;
  }

  .recursos #menuOffcanvas {
    @apply ring-red-400;
  }

  .recursos  .active {
    @apply text-red-600
  }
</style>
