---
import { useSanityClient } from "astro-sanity";
import type { Recurso } from "@/types/interfaces";

const RECURSOS_DEPRECATED = [
  {
    title: "Awalé",
    url: "https://issuu.com/revistaawale",
  },
  {
    title: "La Canterentena",
    url: "https://www.youtube.com/watch?v=tq4rCd9vbD4&list=PLlUCfw9fSUqfsojBik0y1ng4ktwWYor0e&index=2",
  },
  {
    title: "Piedra, Papel o Cantera",
    url: "https://www.youtube.com/watch?v=v_aRlMMX0Co&list=PLlUCfw9fSUqeOrPcqDHplYh3LeqEkQrQ9",
  },
  {
    title: "Pica 2.0",
    url: "https://view.genial.ly/5f79228150d2a90d1e2785d0/interactive-content-pica-la-calle-hecha-juego",
  },
  {
    title: "Dónde están los Pueblos Originarios",
    url: "https://view.genial.ly/61638fa50025590d8c9fe987/interactive-image-pueblos-indigenas",
  },
  {
    title: "Burbuja lúdica",
    url: "https://docs.google.com/document/d/1MQeLRL0_2BTtBeWTw5DnsUJCCQKy_EKxlQALCttAEo4/edit?usp=sharing",
  },
];

const RECURSOS = await useSanityClient().fetch(
  `*[_type == "recursos"]  | order(title desc)`
);
---

<div
  id="recursos"
  class="relative flex items-center justify-center w-full pb-24 overflow-hidden bg-fixed bg-center bg-cover"
>
  <div
    class="relative z-10 grid w-full gap-12 px-3 py-12 mx-auto sm:grid-cols-2 max-w-7xl md:grid-cols-3"
  >
    {
      RECURSOS.map((post: Recurso) => (
        <div>
          <div class="w-full max-w-sm mx-auto overflow-hidden text-left align-middle transition-all duration-300 transform bg-white shadow-lg sm:max-w-full rounded-2xl hover:shadow-2xl">
            <div class="relative flex items-center justify-center w-full pt-3 overflow-hidden bg-teal-800 h-44 patternForest">
              <h3 class="z-10 mb-3 flex items-end  font-atkinson justify-center w-full px-6 font-medium text-2xl text-center text-white">
                {post.title}
              </h3>
              <div class="absolute inset-0 bg-gradient-to-b from-teal-800 via-50% via-teal-900/80 to-teal-900/90 z-0" />
            </div>
            <div class="flex items-center justify-center gap-3 p-3 ">
              <a href={`/recursos/${post.slug?.current}`} class="btn green">
                {" "}
                Conocé más
              </a>
            </div>
          </div>
        </div>
      ))
    }
  </div>
  <div
    class="absolute inset-0 z-0 bg-gradient-to-br from-white to-gray-300 opacity-90"
  >
  </div>
</div>
