---
import FullCalendarDesktop from "@/src/modules/Calendario/FullCalendarDesktop.vue";
import FullCalendarMobile from "@/src/modules/Calendario/FullCalendarMobile.vue";
import { useSanityClient } from "astro-sanity";

const calendario = await useSanityClient().fetch(
  `
   *[_type == "calendarioLudico"] | order(start asc)
     {
       title,
       start,
       end,
       "backgroundColor": color,
       "extendedProps":  {
         description,
         image,
         mainImage,
         body,
         link,
       }
     }`
);
---

<div class="hidden xl:flex">
  <FullCalendarDesktop calendarEvents={calendario} client:visible />
</div>
<div class="flex xl:hidden">
  <FullCalendarMobile calendarEvents={calendario} client:visible />
</div>

<style is:global>
  .calendario-ludico #headroom {
    @apply border-b-orange-600 border-t-transparent bg-orange-50/90 backdrop-blur-sm !important;
  }
  .calendario-ludico #menuOffcanvas {
    @apply ring-orange-400;
  }

  .fc-header-toolbar {
  @apply px-0 mb-2 gap-2 md:gap-0 !important;
}

.fc-header-toolbar .fc-toolbar-chunk:nth-child(2) div {
  @apply flex w-full justify-center items-center gap-1  md:gap-6;
}

.fc-header-toolbar .fc-toolbar-chunk:nth-child(2) {
  @apply w-full md:w-auto;
}

.fc-header-toolbar .fc-toolbar-chunk:nth-child(3) {
  @apply hidden md:flex;
}

.fc .fc-col-header-cell-cushion {
  @apply font-sans font-normal uppercase text-sm;
}

.fc .fc-daygrid-day-number {
  @apply font-sans font-normal uppercase text-xs;
}

.fc .fc-view-harness {
  @apply !h-[75vh] md:!h-[560px];
}

.fc-toolbar-title {
  @apply font-sans capitalize !text-xs md:!text-lg min-w-[230px] text-center;
}

.fc .fc-button {
  @apply bg-transparent text-gray-800 p-0.5 px-1.5 flex justify-center items-center;
}

.fc .fc-today-button {
  @apply !font-sans disabled:bg-gray-900 p-1 px-4 disabled:border-none disabled:cursor-not-allowed text-sm disabled:text-white bg-white text-gray-600 disabled:opacity-100;
}

.fc .fc-day-past .fc-event {
  @apply bg-gray-200 hover:ring-1 ring-gray-300 !important;
}

.fc .fc-day-past .fc-event p {
  @apply text-gray-500 !important;
}

.tab {
  @apply w-full rounded-lg py-2.5 font-sans text-sm font-medium bg-white/60 leading-5 text-orange-700;
  @apply ring-white ring-opacity-60 ring-offset-2 ring-offset-orange-400 focus:outline-none focus:ring-2;
}

.tab.selected {
  @apply bg-white shadow text-orange-700 hover:bg-orange-200;
}

.fc .fc-event {
  @apply hover:ring-2 ring-black/80 border-0 !important;
}

.futureEvents::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.futureEvents::-webkit-scrollbar:hover {
  background-color: rgb(230 230 230);
}

.futureEvents::-webkit-scrollbar-track {
  background-color: #ededed;
}

.futureEvents::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 2rem;
  border: 2px solid rgb(230 230 230);
}
</style>
