html {
  @apply text-base scroll-smooth
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  @apply font-sans;
}

.btn {
  @apply print:hidden inline-flex items-center justify-center px-4 py-2 font-sans font-semibold uppercase text-sm md:text-base tracking-wide duration-300 bg-gray-200 border-0 rounded-md  cursor-pointer ring-0 bg-opacity-90 hover:ring-2 hover:bg-opacity-80 focus-visible:ring-2 shadow-lg hover:shadow focus-visible:ring-offset-2 focus-visible:ring-white focus-visible:ring-opacity-75 focus:ring-2 ring-gray-800;
}

.btn.red {
  @apply bg-gradient-to-br from-red-500 to-red-600 text-white shadow-red-500/50 outline-none ring-red-600 print:text-gray-900 print:bg-gray-200;
}

.btn.blue {
  @apply  bg-gradient-to-br from-indigo-500 to-indigo-600 text-white shadow-indigo-500/50 outline-none ring-indigo-600 print:text-gray-900 print:bg-gray-200;
}

.btn.yellow {
  @apply  bg-gradient-to-br from-amber-500 to-amber-600 text-white shadow-amber-500/50 outline-none ring-amber-600 print:text-gray-900 print:bg-gray-200;
}

.btn.green {
  @apply  bg-gradient-to-br from-teal-500 to-teal-600 text-white shadow-emerald-500/50 outline-none ring-emerald-600 print:text-gray-900 print:bg-gray-200;
}

article.prose td p {
  @apply my-0;
}

article.prose p {
  @apply font-sans;
}

article.prose h4 {
  @apply flex px-3 md:px-0 justify-between pt-2 font-sans text-2xl font-normal;
}

article.prose h3 {
  @apply max-w-3xl px-3 md:px-0 mx-auto font-bold w-full flex justify-between pt-2 font-sans text-2xl;
}

.gslide-description {
  @apply hidden;
}

.turbo-progress-bar {
  @apply bg-white;
}


.spinner {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  @apply gap-1.5 opacity-80;
}

.spinner span {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  @apply bg-gray-900;
  opacity: 0;
}

.spinner span:nth-child(1) {
  animation: fade 1s ease-in-out infinite;
}

.spinner span:nth-child(2) {
  animation: fade 1s ease-in-out 0.33s infinite;
}

.spinner span:nth-child(3) {
  animation: fade 1s ease-in-out 0.66s infinite;
}

@keyframes fade {
  0%,
  100% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }
}
