---
import FullCalendarRefactorSplitDays from "@/components/Calendar/FullCalendarRefactorSplitDays.vue";
import FullCalendarMobile from "@/components/Calendar/FullCalendarMobile.vue";
import { useSanityClient } from "astro-sanity";
const calendario = await useSanityClient().fetch(
   `
   *[_type == "calendarioLudico"] | order(start asc)
     {
       title,
       start,
       end,
       "backgroundColor": color,
       "extendedProps":  {
         description,
         image,
         link,
       }
     }`
 );

---

<div class="hidden lg:flex">
  <FullCalendarRefactorSplitDays calendarEvents={calendario} client:visible />
</div>
<div class="flex lg:hidden">
  <FullCalendarMobile calendarEvents={calendario} client:visible />
</div>


