---
// remove the first "/"
// const currentPath = pathname.slice(1);
import DropdownInstitucional from "./DropdownInstitucional";
const pathname = new URL(Astro.request.url).pathname;
---

<nav aria-label="Top">
  <a
    class={`${
      pathname === "/institucional/quienes-somos"
        ? "active"
        : "" || pathname.includes("/institucional/quienes-somos")
        ? "active"
        : ""
    } `}
    rel="prefetch"
    href="/institucional/quienes-somos"
  >
    Quiénes somos
  </a>
  <a
    class={pathname === "/que-hacemos" ? "active" : ""}
    rel="prefetch"
    href="/que-hacemos"
  >
    ¿Qué hacemos?
  </a>
  <a
    class={pathname === "/recursos" ? "active" : ""}
    rel="prefetch"
    href="/recursos"
  >
    Recursos
  </a>
  <a
    class={pathname === "/colabora" ? "active" : " underline underline-offset-2 md:no-underline"}
    rel="prefetch"
    href="/colabora"
  >
    Colaborá
  </a>  
  <a
    class={pathname === "/contacto"
      ? "active"
      : "" || pathname.includes("/contacto")
      ? "active"
      : ""}
    rel="prefetch"
    href="/contacto"
  >
    Contacto
  </a>
</nav>

<style>
  nav {
    @apply mx-auto gap-6 flex-col text-center md:flex-row w-full flex justify-between items-center;
  }

  nav a {
    @apply py-1 text-xl text-left hover:text-gray-600 duration-300 text-gray-900 font-sans;
  }

  nav a.active {
    @apply text-gray-600 underline underline-offset-8;
  }
</style>
