---
// remove the first "/"
// const currentPath = pathname.slice(1);
import DropdownInstitucional from "./DropdownInstitucional";
const pathname = new URL(Astro.request.url).pathname;
---

<nav aria-label="Top">
  <div class="flex flex-col justify-center mb-6 items-center gap-5 xl:hidden">
    <h3
      class="text-2xl text-indigo-700 !font-hand  "
    >
      Quiénes somos
    </h3>
    <a
      class={`${
        pathname === "/quienes-somos/la-cantera"
          ? "active"
          : "" || pathname.includes("/quienes-somos/la-cantera")
          ? "active"
          : ""
      } text-lg !pr-0`}
      rel="prefetch"
      href="/quienes-somos/la-cantera"
    >
      Qué es La Cantera
    </a>
    <a
      class={`${
        pathname === "/quienes-somos/nuestra-historia"
          ? "active"
          : "" || pathname.includes("/quienes-somos/nuestra-historia")
          ? "active"
          : ""
      } text-lg !pr-0`}
      rel="prefetch"
      href="/quienes-somos/nuestra-historia"
    >
      Nuestra historia
    </a>
  </div>
  <DropdownInstitucional client:media="(min-width: 1280px)" />
  <a
    class={pathname === "/que-hacemos" ? "active" : ""}
    rel="prefetch"
    href="/que-hacemos"
  >
    Qué hacemos
  </a>
  <a
    class={pathname === "/recursos" ? "active" : ""}
    rel="prefetch"
    href="/recursos"
  >
    Recursos
  </a>
  <a
    class={pathname === "/colabora" ? "active" : " "}
    rel="prefetch"
    href="/colabora"
  >
    Colaborá
  </a>
  <a
    class={pathname === "/contacto"
      ? "active"
      : "" || pathname.includes("/contacto")
      ? "active"
      : ""}
    rel="prefetch"
    href="/contacto"
  >
    Contacto
  </a>
</nav>

<style>
  nav {
    @apply mx-auto gap-2 md:gap-6 w-full flex justify-center items-center;
  }

  nav a {
    @apply py-1 pr-1 text-2xl text-left hover:text-gray-600 duration-300 text-gray-900 font-hand;
  }

  nav a.active {
    @apply text-gray-600;
  }
</style>
