---
// remove the first "/"
// const currentPath = pathname.slice(1);
import DropdownInstitucional from "./DropdownInstitucional";
const pathname = new URL(Astro.request.url).pathname;
---

<nav aria-label="Top">
  <a
    class={pathname === "/recursos" ? "active" : ""}
    rel="prefetch"
    href="/recursos"
  >
    Recursos
  </a>
  <a
    class={pathname === "/noticias" ? "active" : ""}
    rel="prefetch"
    href="/noticias"
  >
    Noticias
  </a>
  <DropdownInstitucional client:media="(min-width: 1280px)" />
  <b
    class="flex text-sm text-indigo-700 font-mono xl:hidden"
  >
    Institucional
  </b>
  <a
    class={`${
      pathname === "/institucional/quienes-somos"
        ? "active"
        : "" || pathname.includes("/institucional/quienes-somos")
        ? "active"
        : ""
    } text-xs flex xl:hidden`}
    rel="prefetch"
    href="/institucional/quienes-somos"
  >
    ¿Qué es La Cantera?
  </a>
  <a
    class={`${
      pathname === "/que-hacemos"
        ? "active"
        : "" || pathname.includes("/que-hacemos")
        ? "active"
        : ""
    } text-xs flex xl:hidden`}
    rel="prefetch"
    href="/que-hacemos"
  >
    ¿Qué hacemos?
  </a>
  <a
    class={`${
      pathname === "/institucional/nuestra-historia"
        ? "active"
        : "" || pathname.includes("/institucional/nuestra-historia")
        ? "active"
        : ""
    } text-xs flex xl:hidden`}
    rel="prefetch"
    href="/institucional/nuestra-historia"
  >
    Nuestra historia
  </a>
  <a
    class={pathname === "/contacto"
      ? "active"
      : "" || pathname.includes("/contacto")
      ? "active"
      : ""}
    rel="prefetch"
    href="/contacto"
  >
    Contacto
  </a>
</nav>

<style>
  nav {
    @apply mx-auto gap-2 md:gap-6 w-full flex justify-start items-center;
  }

  nav a {
    @apply py-1 text-sm md:text-base text-left hover:text-gray-600 duration-300 text-gray-900 font-mono;
  }

  nav a.active {
    @apply text-gray-600 underline underline-offset-8;
  }
</style>
