---
// remove the first "/"
// const currentPath = pathname.slice(1);
import DropdownInstitucional from "./DropdownInstitucional";
const pathname = new URL(Astro.request.url).pathname;
---

<nav aria-label="Top">
  <div class="flex flex-col justify-center items-center gap-5 xl:hidden">
    <span
      class="text-lg text-indigo-700 font-sans  "
    >
      ¿Quiénes somos?
    </span>
    <a
      class={`${
        pathname === "/institucional/quienes-somos"
          ? "active"
          : "" || pathname.includes("/institucional/quienes-somos")
          ? "active"
          : ""
      } text-sm !pr-0`}
      rel="prefetch"
      href="/institucional/quienes-somos"
    >
      ¿Qué es La Cantera?
    </a>
    <a
      class={`${
        pathname === "/institucional/nuestra-historia"
          ? "active"
          : "" || pathname.includes("/institucional/nuestra-historia")
          ? "active"
          : ""
      } text-sm !pr-0`}
      rel="prefetch"
      href="/institucional/nuestra-historia"
    >
      Nuestra historia
    </a>
  </div>
  <DropdownInstitucional client:media="(min-width: 1280px)" />
  <a
    class={pathname === "/que-hacemos" ? "active" : ""}
    rel="prefetch"
    href="/que-hacemos"
  >
    ¿Qué hacemos?
  </a>
  <a
    class={pathname === "/recursos" ? "active" : ""}
    rel="prefetch"
    href="/recursos"
  >
    Recursos
  </a>
  <!-- <a
    class={pathname === "/noticias" ? "active" : ""}
    rel="prefetch"
    href="/noticias"
  >
    Noticias
  </a> -->

  <a
    class={pathname === "/contacto"
      ? "active"
      : "" || pathname.includes("/contacto")
      ? "active"
      : ""}
    rel="prefetch"
    href="/contacto"
  >
    Contacto
  </a>
</nav>

<style>
  nav {
    @apply mx-auto gap-2 md:gap-6 w-full flex justify-start items-center;
  }

  nav a {
    @apply py-1 pr-2 text-sm md:text-lg text-left hover:text-gray-600 duration-300 text-gray-900 font-sans;
  }

  nav a.active {
    @apply text-gray-600 underline underline-offset-8;
  }
</style>
