---
import StarDoodle from "@/components/UI/Doodles/StarDoodle.astro";
import MoonDoodle from "@/components/UI/Doodles/MoonDoodle.astro";
import { useSanityClient } from "astro-sanity";
import PageSectionsPlugs from "@/components/PortableText/PageSectionsPlugs.astro";

const about = await useSanityClient().fetch(
  `*[_type == "quienes_somos"]  | order(publishedAt desc) [0]`
);
---

<article class="max-w-full relative px-4 font-sans prose md:prose-xl pb-32">
  <div
    class="hidden md:flex justify-between w-full h-0 left-0 right-0 relative"
  >
    <div class="w-32 rellax h-32" data-rellax-speed="-2">
      <MoonDoodle />
    </div>
    <div class="w-24 rellax relative -top-24 h-24" data-rellax-speed="1">
      <StarDoodle />
    </div>
  </div>
  <PageSectionsPlugs content={about.content} />
  <div
    class="hidden md:flex justify-between w-full h-0 left-0 right-0 relative"
  >
    <div
      class="w-24 rellax relative -top-24 left-24 h-24"
      data-rellax-speed="3"
    >
      <StarDoodle />
    </div>
    <div class="w-24 rellax relative -top-2 h-24" data-rellax-speed="1">
      <MoonDoodle />
    </div>
  </div>
</article>

<script>
  //@ts-ignore
  var rellax = new Rellax(".rellax");
</script>
