---
import StarDoodle from "@/components/UI/Doodles/StarDoodle.astro";
import MoonDoodle from "@/components/UI/Doodles/MoonDoodle.astro";
import Carousel from "@/components/Carousel/Carousel.astro";
import PlugGallery from "@/components/Plugs/PlugGallery.astro";
import { useSanityClient } from "astro-sanity";
import PortableText from "@/components/PortableText.astro";
import DialogEnterate from "@/components/Radix/DialogEnterate";

const about = await useSanityClient().fetch(
  `*[_type == "quienes_somos"]  | order(publishedAt desc) [0]`
);
---

<article class="max-w-full relative px-4 font-sans prose md:prose-xl pb-32">
  <div
    class="hidden md:flex justify-between w-full h-0 left-0 right-0 relative"
  >
    <div class="w-32 rellax h-32" data-rellax-speed="-2">
      <MoonDoodle />
    </div>
    <div class="w-24 rellax relative -top-24 h-24" data-rellax-speed="1">
      <StarDoodle />
    </div>
  </div>

  {
    about.content.map((c: any) => {
      let el = null;
      switch (c._type) {
        case "BlockGallery":
          el = (
            <>
              <PlugGallery images={c} />
            </>
          );
          break;
        case "PlugBlockeditor":
          el = (
            <>
              <PortableText portableText={c.body} />
            </>
          );
          break;
        default:
          el = null;
      }
      return el;
    })
  }

  <div
    class="hidden md:flex justify-between w-full h-0 left-0 right-0 relative"
  >
    <div
      class="w-24 rellax relative -top-24 left-24 h-24"
      data-rellax-speed="3"
    >
      <StarDoodle />
    </div>
    <div class="w-24 rellax relative -top-2 h-24" data-rellax-speed="1">
      <MoonDoodle />
    </div>
  </div>
</article>

<script>
  //@ts-ignore
  var rellax = new Rellax(".rellax");
</script>
