---
import "reveal.js/dist/reveal.css";
import "reveal.js/dist/theme/dracula.css";
---

<div class="relative h-[70vh] z-20 ring-4 ring-emerald-600 max-w-7xl rounded-lg shadow-lg mx-auto overflow-hidden bg-emerald-900">
  <div class="absolute inset-0">
    <div class="reveal">
      <div class="slides">
        <section><h2>...</h2></section>
        <section><h1>1</h1></section>
        <section><h1>Dos</h1></section>
        <section><h1>(3)</h1></section>
        <section><h1>cuatro</h1></section>
        <section>
          <p class="fragment">Fade in</p>
          <p class="fragment fade-out">Fade out</p>
          <p class="fragment text-blue-600">Highlight Blue</p>
          <p class="fragment fade-in-then-out">Fade in, then out</p>
          <p class="fragment fade-up">Slide up while fading in</p>
        </section>
        <section>
          <div class="r-stack">
            <img
              class="fragment fade-out"
              data-fragment-index="0"
              src="https://placekitten.com/450/300"
              width="450"
              height="300"
            />
            <img
              class="fragment current-visible"
              data-fragment-index="0"
              src="https://placekitten.com/300/450"
              width="300"
              height="450"
            />
            <img
              class="fragment"
              src="https://placekitten.com/400/400"
              width="400"
              height="400"
            />
          </div>
        </section>
        <section data-auto-animate>
          <h1>Auto-Animate</h1>
        </section>
        <section data-auto-animate>
          <h1 class="-mt-12" style="color: #13b5a3">Auto-Animate</h1>
          <h3>Auto-Animate</h3>
        </section>
        <section id="grand-finale">
          <a href="https://revealjs.com/links/" target="_blank"
            >Hecho en Reveal.js</a
          >
        </section>
      </div>
    </div>
  </div>
</div>
<script>
  // @ts-ignore
  import Reveal from "reveal.js";
  // @ts-ignore
  import Markdown from "reveal.js/plugin/markdown/markdown.esm.js";
  // @ts-ignore

  let deck = new Reveal({
    plugins: [Markdown],
  });
  deck.initialize({
    embedded: true,
    controls: true,
    progress: true,
    autoPlayMedia: true,
    autoSlide: 5000,
  });
</script>

<style is:inline>
  .reveal h1,
  .reveal h2,
  .reveal h3,
  .reveal h4,
  .reveal h5,
  .reveal h6 {
    --r-heading-font: Atkinson, sans-serif;
  }

  .playback {
    left: initial !important;
    right: 50%;
    transform: translateX(25px);
  }
</style>
