---
import FullCalendar from "@/components/Calendar/FullCalendarRefactor.vue";
import Layout from "@/layouts/Layout.astro";
import { useSanityClient } from "astro-sanity";

const calendario = await useSanityClient().fetch(
  `
  *[_type == "calendarioLudico"] | order(start asc)
    {
      title,
      start,
      end,
      color,
      "extendedProps":  {
        description,
        image,
        link,
      }
    }`
);
---

<Layout title="Calendario lúdico">
  <div
    class="min-h-screen mt-0 sm:p-1 bg-gradient-to-br from-indigo-100 bg-amber-100"
  >
    <FullCalendar calendarEvents={calendario} client:load />
  </div>
</Layout>

<style is:global>
  .calendario-ludico #headroom {
    @apply border-orange-600 bg-orange-50/90 backdrop-blur-sm !important;
  }
  .calendario-ludico #menuOffcanvas {
    @apply ring-orange-400;
  }
</style>
