---
import FullCalendar from "@/components/Calendar/FullCalendar.vue";
import Layout from "@/layouts/CalendarLayout.astro";
import { useSanityClient } from "astro-sanity";
// import { Image } from "@astrojs/image/components";
import LogoCantera from "@/components/Icons/LogoCantera.astro";

const calendario = await useSanityClient().fetch(
  `
  *[_type == "calendarioLudico"] | order(start asc)
    {
      title,
      start,
      end,
      color,
      "extendedProps":  {
        description,
        image,
        link,
      }
    }`
);

---

<Layout title="Calendario lúdico">
  <div class="min-h-screen mt-0 sm:p-1 bg-gradient-to-br from-indigo-100 bg-amber-100" >
    <FullCalendar calendarEvents={calendario} client:load >
      <a href="/" rel="prefetch" class="absolute flex flex-col items-center justify-start pl-1 lg:relative top-6 lg:top-0 left-2 lg:pl-0 ">
        <div class="w-40 lg:w-32">
          <LogoCantera/>
        </div>
      </a>
    </FullCalendar>
  </div>
</Layout>
