---
import Calendar from "@/src/modules/Calendario/Calendar.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Calendario lúdico" description="Próximas actividades">
  <div
    class="min-h-screen mt-0 sm:p-1 bg-gradient-to-br from-indigo-100 bg-amber-100"
  >
    <Calendar />
  </div>
</Layout>
