---
import FullCalendar from "@/components/Calendar/FullCalendar.vue";
import Logo from "@/components/Icons/Logo.astro";
import Layout from "@/layouts/CalendarLayout.astro";
import { useSanityClient } from "astro-sanity";
import { Image } from "@astrojs/image/components";
import LogoCantera from "@/components/Icons/LogoCantera.astro";
---

<Layout title="Calendario lúdico">
  <div class="sm:p-1 mt-16 md:mt-0 min-h-screen bg-gradient-to-br from-indigo-100 bg-amber-100" >
    <FullCalendar client:load >
      <a href="/" rel="prefetch" class="sm:relative absolute top-0 left-0 flex justify-start flex-col items-center pl-1 md:pl-0 ">
        <div class="w-20 md:w-12">
          <Image
            src="/LogoCantera.png"
            alt="La Cantera Recreación"
            loading="eager"
            width={181}
            height={136}
          />
        </div>
      </a>
    </FullCalendar>
  </div>
</Layout>
