---
import Layout from "@/layouts/Layout.astro";
import { useSanityClient } from "astro-sanity";
const calendario = await useSanityClient().fetch(
  `*[_type == "calendarioLudico"]`
);
---

<Layout title="Calendario lúdico">
  {
    calendario && (
      <div class="grid mt-32 max-w-2xl min-h-screen mx-auto lg:grid-cols-1 gap-6">
        {calendario.map((post: any) => (
          <a href={`noticias/${post.slug?.current}`}>
            <span class="text-2xl">{post.title}</span>
          </a>
        ))}
      </div>
    )
  }
</Layout>
