---
import Layout from "../layouts/Layout.astro";
import HeroColabora from "@/modules/Colabora/HeroColabora.astro";
import { useSanityClient } from "astro-sanity";
import PageSectionsPlugs from "@/components/Plugs/PageSectionsPlugs.astro";

const colabora = await useSanityClient().fetch(
  `*[_type == "colabora"]  | order(publishedAt desc) [0]`
);
---

<Layout title="Colabora">
  <HeroColabora />
  <div id="colabora" class="scroll-mt-12">
    <PageSectionsPlugs content={colabora.content} />
  </div>
</Layout>
