---
import { useSanityClient } from "astro-sanity";

import Layout from "../layouts/Layout.astro";
const post = await useSanityClient().fetch(`*[_type == "page"]`);
---

<Layout title="404">
  <div class="w-full grid grid-cols-3 max-w-7xl mx-auto pt-6 gap-6">
    {
      post.map((post: { title: string; slug: { current: any; }; }) => (
        <div class="item animate__fadeIn relative animate__animated animate__slower ">
          <div class="w-full max-w-sm sm:max-w-full mx-auto overflow-hidden text-left align-middle transition-all transform bg-white shadow-lg hover:shadow-2xl duration-300 rounded-2xl">
            <div class="w-full pt-3 h-44 overflow-hidden relative flex patternForest justify-center items-center bg-blue-800">
              <h3 class="z-10 mb-3 flex items-end  font-sans justify-center w-full px-6 font-medium text-2xl text-center text-white">
                {post.title}
              </h3>
              <div class="absolute inset-0 bg-gradient-to-b from-blue-800 via-50% via-blue-900/80 to-indigo-900/90 z-0" />
            </div>
            <div class="flex justify-center items-center p-3 gap-3 ">
              <a
                href={`/${post.slug?.current}`}
                class="btn relative z-10 green"
              >
                Conocé más
              </a>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</Layout>
