---
import Layout from "@/layouts/Layout.astro";
import GrainOne from "@/components/UI/Grain/GrainOne.astro";
import WaveScene from "@/components/UI/Backgrounds/WaveScene.astro";
import QueHacemosCards from "@/modules/Institucional/QueHacemosCards.astro";
---

<Layout title="Servicios">
  <div
    class="relative flex items-center justify-center pt-12 pb-12 overflow-hidden bg-yellow-600 bg-gradient-to-tr from-amber-400"
  >
    <h1 class="relative z-10 font-mono text-4xl text-white md:text-3xl">
      ¿Qué hacemos?
    </h1>
    <div class="absolute inset-0 z-0 opacity-90">
      <GrainOne />
    </div>
    <div class="absolute inset-0 z-0 opacity-80">
      <WaveScene />
    </div>
  </div>
  <QueHacemosCards/>
</Layout>
