---
import Layout from "@/layouts/Layout.astro";
import { useSanityClient } from "astro-sanity";
import GrainOne from "@/components/UI/Grain/GrainOne.astro";
import WaveScene from "@/components/UI/Backgrounds/WaveScene.astro";

const calendario = await useSanityClient().fetch(
  `*[_type == "calendarioLudico"]`
);
---

<Layout title="Servicios">
  <div
    class="relative flex items-center justify-center pt-32 pb-32 overflow-hidden bg-yellow-600 bg-gradient-to-tr from-amber-400"
  >
    <h1 class="relative z-10 font-mono text-4xl text-white md:text-6xl">Servicios</h1>
    <div class="absolute inset-0 z-0 opacity-90">
      <GrainOne />
    </div>
    <div class="absolute inset-0 z-0 opacity-80">
      <WaveScene/>
    </div>
  </div>
  {
    calendario && (
      <div class="grid max-w-2xl min-h-screen gap-6 mx-auto mt-32 lg:grid-cols-1">
        {calendario.map((post: any) => (
          <a href="#">
            <span class="text-2xl">{post.title}</span>
          </a>
        ))}
      </div>
    )
  }
</Layout>
