---
import Layout from "@/layouts/Layout.astro";
import { useSanityClient } from "astro-sanity";
import GrainOne from "@/components/Grain/GrainOne.astro";

const calendario = await useSanityClient().fetch(
  `*[_type == "calendarioLudico"]`
);
---

<Layout title="Servicios">
  <div
    class="bg-gradient-to-tr pt-40 pb-32 flex justify-center items-center from-amber-400 bg-yellow-600 relative"
  >
    <h1 class="relative text-white text-6xl font-mono">Servicios</h1>
    <div class="absolute inset-0 z-0 opacity-90">
      <GrainOne />
    </div>
  </div>
  {
    calendario && (
      <div class="grid mt-32 max-w-2xl min-h-screen mx-auto lg:grid-cols-1 gap-6">
        {calendario.map((post: any) => (
          <a href="#">
            <h3 class="text-2xl">{post.title}</h3>
          </a>
        ))}
      </div>
    )
  }
</Layout>
