---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sobre cantera">
  <div class="relative z-20 w-full  mx-auto">
    <div
      class="relative flex items-center justify-center w-full p-6 pt-40 pb-24 overflow-hidden bg-fixed bg-center bg-cover"
      style={{
        backgroundImage:
          "url(/imagen1.jpg )",
      }}
    >
      <div
        class="relative z-10 flex flex-col justify-center w-full max-w-6xl px-4 mx-auto"
      >
        <h2 class="mb-3 font-sans text-6xl font-medium text-center text-white">
          Sobre cantera
        </h2>
      </div>
      <div class="absolute inset-0 z-0 opacity-60 bg-black"></div>
    </div>
    <div>
      <article class="prose prose-xl max-w-full">
        <p>
          La Asociación civil “La Cantera: Proyectos en el campo de la recreacion” es una organización sin fines de lucro, que se dedica a la investigación, difusión y puesta en marcha de actividades y proyectos en el ámbito de la recreación, la educación y el juego.

La Cantera nace en el año 2007 de la mano de un grupo de educadores, recreólogos, y ludópata con la intención de que las actividades lúdicas comiencen a estar presentes en la vida cotidiana y cultural de nuestra ciudad.
        </p>

        <p>
          Es por eso que realizamos diferentes actividades a lo largo del año.
        </p>

        <ul>
          <li>
            <p >Noches de juegos</p>
            </li>
            <li>
            <p >Tardes de juego</p>
            </li>
            <li>
            <p >Juegos de la Mente</p>
            </li>
            <li>
            <p >Intervenciones lúdicas en fiestas callejeras</p>
            </li>
            <li>
            <p >Capacitaciones</p>
            </li>
            <li>
            <p >Asesoramientos</p>
            </li>
            <li>
            <p >Encuentro Nacionales de juegos de mesa</p>
            </li>
        </ul>
      </article>
    </div>
  </div>
</Layout>

<style is:global>
  .prose p,
  .prose ul {
    @apply my-6 block mx-auto max-w-3xl;
  }

  .prose img {
    @apply my-0;
  }
</style>
