---
import IconFacebook from "@/components/Icons/IconFacebook.astro";
import IconInstagram from "@/components/Icons/IconInstagram.astro";
import IconYoutube from "@/components/Icons/IconYoutube.astro";
---

<div class="flex gap-3 items-center mr-16">
  <a
    target="_blank"
    rel="noopener noreferrer"
    class="hover:opacity-80 group w-7 h-7"
    href="https://es-la.facebook.com/LaCanteraRecreacion/"
  >
    <IconFacebook />
  </a>
  <a
    target="_blank"
    rel="noopener noreferrer"
    class="hover:opacity-80 group w-7 h-7"
    href="https://www.instagram.com/lacantera.recreacion/"
  >
    <IconInstagram />
  </a>
  <a
    target="_blank"
    rel="noopener noreferrer"
    class="hover:opacity-80 group w-7 h-7"
    href="https://www.youtube.com/channel/UCgyRMwOrJ8zKayunSI6pMGA"
  >
    <IconYoutube />
  </a>
</div>
