---
import IconFacebook from "@/components/Icons/IconFacebook.astro";
import IconInstagram from "@/components/Icons/IconInstagram.astro";
import IconYoutube from "@/components/Icons/IconYoutube.astro";
---

<div class="flex items-center gap-2 ml-5">
  <a
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Ir a facebook de La Cantera Recreación"
    class="hover:opacity-80 group w-7 h-7"
    href="https://es-la.facebook.com/LaCanteraRecreacion/"
  >
    <IconFacebook />
  </a>
  <a
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Ir a Instagram de La Cantera Recreación"
    class="hover:opacity-80 group w-6 scale-90 h-6"
    href="https://www.instagram.com/lacantera.recreacion/"
  >
    <IconInstagram />
  </a>
  <a
    target="_blank"
    rel="noopener noreferrer"
    class="hover:opacity-80 group w-7 h-7"
    aria-label="Ir a youtube de La Cantera Recreación"
    href="https://www.youtube.com/channel/UCgyRMwOrJ8zKayunSI6pMGA"
  >
    <IconYoutube />
  </a>
</div>
