---
import Logo from "@/components/Icons/Logo.astro";
import Navigation from "@/components/Navigation/HeaderNavigation.astro";
import CallToActions from "./CallToActions.astro";
---

<header
  id="headroom"
  class="fixed shadow-md border-t-2 !border-t-transparent border-b-2 border-indigo-400 bg-white h-16 sm:h-20 top-0 left-0 flex justify-between right-0 z-50"
>
  <div
    class="max-w-full px-0 relative z-10 mx-auto flex items-center justify-between w-full"
  >
    <a
      href="/"
      rel="prefetch"
      class="flex justify-start  items-center h-16 sm:h-16 px-2 md:px-3 relative z-10"
    >
      <Logo />
    </a>
    <div class="hidden xl:flex w-full items-center pl-6 gap-2 mx-6 relative z-10">
      <Navigation />
    </div>
    <div class="hidden w-96 right-32 xl:right-0 lg:-top-2 xl:top-0 sm:flex justify-end md:items-end  pr-3 gap-2 relative z-10">
      <CallToActions />
    </div>
  </div>
</header>

<script>
  // @ts-ignore
  import Headroom from "headroom.js";
  var element = document.querySelector("#headroom");
  var options = {
    offset: {
      up: 0,
      down: 300,
    },
    tolerance: 5,
  };
  var headroom = new Headroom(element, options);
  headroom.init({});
</script>

<style>
  .headroom {
    transition: all 300ms ease-in-out;
  }

  .headroom--scrolled {
  }

  .headroom--unpinned {
    /* transform: translateY(-100%);*/
    background: transparent !important;
    backdrop-filter: blur(0) !important;
  }

  .headroom--unpinned {
    @apply !bg-white;
    /* opacity: 0; */
    /* transition-delay: 0s; */
  }

  @screen md {
    .headroom--unpinned {
      /* transform: translateY(-100%);*/
      opacity: 0;
      background: transparent !important;
      backdrop-filter: blur(0) !important;
      pointer-events: none;
    }

    .headroom--unpinned {
      opacity: 0;
      transition-delay: 0s;
    }
  }
  .headroom--pinned {
    position: fixed;
    @apply bg-opacity-90 backdrop-blur-lg;
    transform: translateY(0%);
  }
</style>
