---
import IconRollingDice from "@/components/Icons/IconRollingDice.astro";

const routes = [
  "/institucional/quienes-somos",
  "/institucional/nuestra-historia",
  "/que-hacemos",
  "/colabora",
  "/calendario-ludico",
  "/",
  "/que-hacemos/",
  "/recursos/",
  "/contacto/",
];


const currentRoute = new URL(Astro.request.url).pathname;
const validRoutes = routes.filter((item: any) => item !== currentRoute);

function getRandomRoute(min: number, max: number) {
  const randomIndex = Math.floor(Math.random() * (max - min + 1));
  return routes[randomIndex];
}
const randomRoute = getRandomRoute(0, validRoutes.length);

---

<a 
  href={randomRoute}
  aria-label="Ir a una sección aleatoria"
  class="fixed group left-0 bottom-0 bg-indigo-600 fill-white w-12 m-3 flex justify-center items-center rounded-full cursor-pointer z-50 shadow h-12 IconRollingDice"
>
  <IconRollingDice />
</a>


<style is:global>
  .institucional-nuestra-historia .IconRollingDice {
    @apply bg-orange-600 fill-white;
  }

  .institucional-quienes-somos .IconRollingDice {
    @apply bg-amber-600 fill-white;
  }

  .contacto  .IconRollingDice {
    @apply bg-emerald-600 fill-yellow-100;
  }

  .recursos  .IconRollingDice {
    @apply bg-amber-600 fill-emerald-100;
  }
</style>