---
const props = Astro.props;
import { urlForImage } from "@/lib/urlForImage";
---

<!-- 
<div class="w-full mx-auto px-3 overflow-hidden rounded-lg my-12">
  <div
    style="--swiper-navigation-color: #333; --swiper-pagination-color: #333; --swiper-pagination-bullet-width: 16px; --swiper-pagination-bullet-height: 16px;"
    class="swiper relative mySwiper"
  >
    <div class="pb-12 swiper-wrapper">
      {
        props.images.imagesGallery.map((i: any) => {
          return (
            <a
              class="swiper-slide glightbox"
              href={urlForImage(i.asset).width(1300).url()}
            >
              <img
                class="object-cover w-full rounded-lg overflow-hidden h-64"
                src={urlForImage(i.asset).width(600).height(600).url()}
              />
            </a>
          );
        })
      }
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-left">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        ><path
          fill="#888888"
          d="M15.41 7.41L14 6l-6 6l6 6l1.41-1.41L10.83 12l4.58-4.59z"
        ></path></svg
      >
    </div>
    <div class="swiper-button-right">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        ><path
          fill="#888888"
          d="M10 6L8.59 7.41L13.17 12l-4.58 4.59L10 18l6-6l-6-6z"></path></svg
      >
    </div>
  </div>
</div> -->
<div class="grid grid-cols-2 gap-0.5">
  {
    props.images.imagesGallery.map((i: any) => {
      return (
        <a
          class="glightbox group duration-300 hover:opacity-80 relative"
          href={urlForImage(i.asset).width(1300).url()}
        >
          <span class="absolute group-hover:opacity-100 group-hover:scale-110 duration-300 opacity-70 right-0 bottom-0 m-3 rounded-md p-1 bg-gray-900/70 shadow-sm">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="25"
              height="25"
              viewBox="0 0 24 24"
            >
              <path
                fill="#fff"
                d="M5 19v-6h2v4h4v2H5Zm12-8V7h-4V5h6v6h-2Z"
              />
            </svg>
          </span>
          <img
            class="object-cover w-full overflow-hidden h-[400px]"
            src={urlForImage(i.asset).width(600).height(600).url()}
          />
        </a>
      );
    })
  }
</div>

<!-- Initialize Swiper -->
<!-- <script>
  //@ts-ignore
  import Swiper from "swiper/bundle";
  import "swiper/css/bundle";
  //@ts-ignore
  const swiper = new Swiper(".mySwiper", {
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    slidesPerView:1,
    autoplay: {
      delay: 2500,
      disableOnInteraction: false,
    },
    navigation: {
      nextEl: ".swiper-button-right",
      prevEl: ".swiper-button-left",
    },
  });
</script>

<style>
  .swiper {
    @apply w-full select-none;
  }

  .swiper-button-left,
  .swiper-button-right {
    @apply bg-white w-12 h-12 absolute top-1/2 z-50 flex justify-center items-center -translate-y-10;
  }

  .swiper-button-right {
    @apply right-0;
  }
</style> -->
