---
const props = Astro.props;
import MySwiper from "./PlugGallery.jsx";
---

<div
  class="PlugGallerySwiper"
  style="--swiper-navigation-color: #333333; --swiper-pagination-color: #333333; --swiper-pagination-bullet-width: 16px; --swiper-pagination-bullet-height: 16px;"
>
  <MySwiper gallery={props} client:load />
</div>

<style is:global>
  .PlugGallerySwiper {
    @apply w-full select-none max-w-7xl mx-auto my-12 px-6;
  }

  .PlugGallerySwiper .swiper-wrapper {
    @apply pb-12;
  }

  .PlugGallerySwiper .swiper-button-next,
  .PlugGallerySwiper .swiper-button-prev {
    @apply bg-white w-12 h-12 absolute top-1/2 p-2 z-50 flex justify-center items-center -translate-y-6;
  }

  .PlugGallerySwiper .swiper-button-next:after,
  .PlugGallerySwiper .swiper-button-prev:after {
    @apply text-lg;
  }

  .PlugGallerySwiper .swiper-button-next {
    @apply right-0 left-auto;
  }

  .PlugGallerySwiper .swiper-button-prev {
    @apply right-auto left-0;
  }

  .PlugGallerySwiper .swiper-pagination-bullet {
    @apply w-5 h-5;
  }
</style>
