---
import { Image } from "astro:assets";
import LogoCantera from "./LogoCantera.astro";
---

<div class="w-16 sm:w-20">
  <Image
    src="/LogoCantera.png"
    alt="La Cantera Recreación"
    loading="eager"
    width={181}
    height={136}
  />
</div>
<div class="flex-col items-start justify-center gap-2 pt-1 ml-2 flex md:ml-4">
  <div class="w-32 sm:w-40"><LogoCantera /></div>
  <!-- <span class="hidden font-sans text-xs lg:flex">
    Proyectos en el campo de la recreación
  </span> -->
</div>
