---
import { Image } from "@astrojs/image/components";
import LogoCantera from "./LogoCantera.astro";
---

<div class="w-24">
  <Image
    src="/LogoCantera.png"
    alt="La Cantera Recreación"
    loading="eager"
    width={181}
    height={136}
  />
</div>
<div
  class="flex-col items-start justify-center hidden gap-2 pt-1 ml-2 sm:flex md:ml-4"
>
  <LogoCantera />
  <span class="hidden font-sans text-xs lg:flex">
    Proyectos en el campo de la recreación
  </span>
</div>
