---
import "@/styles/animate.css";
import "@/styles/global.css";
import "@/styles/mobile.css";
import "@/styles/swiper.css";
import "glightbox/dist/css/glightbox.min.css";
import BaseHead from "@/components/BaseHead.astro";
import CallToActions from "@/components/Header/CallToActions.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header/Header.astro";
import MainLayout from "./MainLayout.astro";
import Navigation from "@/components/Navigation/Navigation.astro";
import Offcanvas from "@/components/Offcanvas.vue";
import GoogleFont from "./GoogleFont.astro";
import IntersectionObserver from "./IntersectionObserver.astro";
import Noscript from "./noscript.astro";

const {
  title,
  description,
  image = "https://res.cloudinary.com/do2avsfpk/image/upload/v1680800805/web/social/cantera-social-card_car7lp.png",
} = Astro.props;

const pathname = new URL(Astro.request.url).pathname;
---

<html lang="es">
  <head>
    <BaseHead
      title={` ${title ? `${title}` : ""} | La Cantera`}
      description={`${
        description
          ? `${description}`
          : " Proyectos en el campo de la recreación."
      }`}
      image={image}
    />
    <GoogleFont />
    <Noscript />
  </head>
  <body class="w-full text-gray-900 bg-white">
    <Offcanvas client:load>
      <Navigation />
      <CallToActions />
    </Offcanvas>
    <slot />
  </body>
</html>
