---
import "@/styles/animate.css";
import "@/styles/global.css";
import "@/styles/mobile.css";
import "@/styles/swiper.css";
import "@/styles/patterns.css";
import "glightbox/dist/css/glightbox.min.css";
import BaseHead from "@/layouts/BaseHead.astro";
import CallToActions from "@/components/Header/CallToActions.astro";
import Footer from "@/components/Footer/Footer.astro";
import Header from "@/components/Header/Header.astro";
import MainLayout from "./MainLayout.astro";
import Navigation from "@/components/Navigation/HeaderNavigation.astro";
import Offcanvas from "@/components/Navigation/Offcanvas.vue";
import GoogleFont from "./GoogleFont.astro";
import IntersectionObserver from "./IntersectionObserver.astro";
import Noscript from "./noscript.astro";
import slugify from "@/lib/createSlug";


const {
  title,
  description,
  image = "https://res.cloudinary.com/do2avsfpk/image/upload/v1680800805/web/social/cantera-social-card_car7lp.png",
} = Astro.props;

const pathname = new URL(Astro.request.url).pathname;
const bodySlug = slugify(pathname);
---

<html lang="es">
  <head>
    <BaseHead
      title={` ${title ? `${title}` : ""} | La Cantera`}
      description={`${
        description
          ? `${description}`
          : " Proyectos en el campo de la recreación."
      }`}
      image={image}
    />
    <GoogleFont />
    <Noscript />
  </head>
  <body class={`w-full text-gray-900 bg-white ${bodySlug}`}>
    <Offcanvas client:load>
      <div class="flex justify-center md:hidden">
        <CallToActions />
      </div>
      <Navigation />
    </Offcanvas>
    <MainLayout>
      <Header />
      <slot />
    </MainLayout>
    <Footer />
    <IntersectionObserver />
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.12.1/rellax.min.js"
    ></script>
    <script
      src="https://polyfill.io/v3/polyfill.min.js?features=IntersectionObserver,ResizeObserver,WebAnimations,Object.fromEntries,Array.prototype.at"
    ></script>
    <style is:global>
      html {
        overflow-y: scroll;
      }
    </style>
  </body>
</html>
