---

import "@/styles/animate.css";
import "@/styles/global.css";
import "@/styles/mobile.css";
import "@fontsource/inter";
import "@fontsource/inter/300.css";
import "@fontsource/inter/500.css";
import "@fontsource/inter/600.css";
import "@fontsource/inter/700.css";
import "@fontsource/sigmar-one";
import "@fontsource/unbounded";
import "@fontsource/unbounded/300.css";
import "@fontsource/unbounded/500.css";
import "@fontsource/unbounded/600.css";
import "@fontsource/unbounded/700.css";
import "glightbox/dist/css/glightbox.min.css";
import "swiper/css";
import BaseHead from "@/components/BaseHead.astro";
import CallToActions from "@/components/Header/CallToActions.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header/Header.astro";
import MainLayout from "./MainLayout.astro";
import Navigation from "@/components/Navigation/Navigation.astro";
// import Offcanvas from "@/components/Offcanvas";
import Offcanvas from "@/components/Offcanvas.vue";


const {
  title,
  description,
  image = "https://res.cloudinary.com/do2avsfpk/image/upload/v1680800805/web/social/cantera-social-card_car7lp.png",
} = Astro.props;

const pathname = new URL(Astro.request.url).pathname;
---

<html lang="es">
  <head>
    <BaseHead
      title={` ${title ? `${title}` : ""} | La Cantera`}
      description={`${
        description
          ? `${description}`
          : " Proyectos en el campo de la recreación."
      }`}
      image={image}
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <link href="https://fonts.cdnfonts.com/css/slayer" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"
    ></script>
  </head>
  <body class="w-full text-gray-900 bg-white">
    <Offcanvas client:load>
      <Navigation />
      <CallToActions/>
    </Offcanvas>
    <Header />
    <MainLayout>
      <slot />
    </MainLayout>
    <Footer />
  </body>
</html>
