

<main
  class="relative flex flex-col w-full pt-12 overflow-x-hidden max-w-screen xl:pt-20 scroll-smooth"
>
  <slot />
</main>

<script>
  // @ts-ignore
  import GLightbox from "glightbox";
  document.addEventListener("DOMContentLoaded", () => {
    const glightbox = GLightbox({
      /* options */
    });
  });
</script>