---
import RandomPageDice from "@/components/RandomPageDice.astro";
import slugify from "@/lib/createSlug";
---

<main
  class={`relative flex flex-col w-full pt-12 overflow-x-hidden max-w-screen lg:pt-20 scroll-smooth ${slugify(
    Astro.url.pathname
  )}`}
>
  <slot />
  <RandomPageDice />
</main>

<script>
  // @ts-ignore
  import GLightbox from "glightbox";
  document.addEventListener("DOMContentLoaded", () => {
    const glightbox = GLightbox({
      /* options */
    });
  });
</script>
