---
import RandomPageDice from "@/components/RandomPageDice.astro";
---

<main
  id="main"
  class="relative flex flex-col w-full pt-12 min-h-[calc(100vh-9rem)] max-w-screen lg:pt-20"
>
  <slot />
  <RandomPageDice />
</main>

<script>
  // @ts-ignore
  import GLightbox from "glightbox";
  document.addEventListener("DOMContentLoaded", () => {
    const glightbox = GLightbox({
      /* options */
    });
  });
</script>
