---
import IconFacebook from "@/components/Icons/IconFacebook.astro";
import IconInstagram from "@/components/Icons/IconInstagram.astro";
import IconYoutube from "@/components/Icons/IconYoutube.astro";
import GrainOne from "@/components/Grain/GrainOne.astro";
import BlobScene from "@/components/UI/Backgrounds/BlobScene.astro";
import MoonDoodle from "@/components/Doodles/MoonDoodle.astro";
import StarDoodle from "@/components/Doodles/StarDoodle.astro";
---

<div
  id="contacto"
  class="relative z-10 flex flex-col items-center overflow-hidden justify-center w-full min-h-screen px-6 mx-auto text-left md:px-0 bg-gradient-to-br from-cyan-500 to-yellow-500 font-mono"
>
  <div
    class="w-full relative z-20 max-w-3xl p-6 mx-auto text-center rounded-md shadow-lg md:p-12 bg-white"
  >
    <h1
      class="w-full mx-auto font-mono mb-8 text-4xl font-bold tracking-wide text-center text-gray-900 md:text-5xl"
    >
      Contacto
    </h1>
    <h3
      class="w-full mx-auto mb-8 text-lg text-center text-gray-900 md:text-2xl"
    >
      Podés contactarnos vía mail o en nuestras redes sociales.
    </h3>
    <div class="relative my-6 text-gray-900">
      <p class="text-lg text-center w-full font-mono md:text-2xl select-all">
        lacantera.recreacion@gmail.com
      </p>
    </div>
    <div class="flex items-center mt-12 justify-center space-x-9">
      <a
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Ir a facebook de La Cantera Recreación"
        class="hover:opacity-80 group w-12 h-12"
        href="https://es-la.facebook.com/LaCanteraRecreacion/"
      >
        <IconFacebook class="text-lg" />
      </a>
      <a
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Ir a Instagram de La Cantera Recreación"
        class="hover:opacity-80 group w-12 h-12"
        href="https://www.instagram.com/lacantera.recreacion/"
      >
        <IconInstagram />
      </a>
      <a
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Ir a youtube de La Cantera Recreación"
        class="hover:opacity-80 group w-12 h-12"
        href="https://www.youtube.com/channel/UCgyRMwOrJ8zKayunSI6pMGA"
      >
        <IconYoutube />
      </a>
    </div>
  </div>
  <div class="absolute inset-0 w-full h-screen z-10 opacity-90">
    <div class="absolute overflow-hidden inset-0 z-10 w-full min-h-screen">
      <GrainOne />
    </div>
    <div
      class="absolute overflow-hidden rotate-180 inset-0 z-0 w-full min-h-screen "
    >
      <BlobScene />
    </div>
  </div>
</div>
