---
import IconFacebook from "@/components/Icons/IconFacebook.astro";
import IconInstagram from "@/components/Icons/IconInstagram.astro";
import IconYoutube from "@/components/Icons/IconYoutube.astro";
import GrainOne from "@/components/UI/Grain/GrainOne.astro";
import DialogEnterate from "@/components/Radix/DialogEnterate";
import BlobScene from "@/components/UI/Backgrounds/BlobScene.astro";
---

<div
  id="contacto"
  class="relative z-10 flex flex-col items-center justify-center w-full px-6 py-24 mx-auto overflow-hidden font-sans text-left md:px-0 bg-gradient-to-br from-cyan-500 to-yellow-500"
>
  <div
    class="relative z-30 w-full max-w-lg mx-auto overflow-hidden text-center bg-white rounded-lg shadow-lg animate__fadeIn animate__animated"
  >
    <h2
      class="w-full md:w-96 mx-auto font-sans py-6 text-2xl font-bold tracking-wide text-center text-transparent bg-clip-text bg-gradient-to-br from-teal-600 via-60% via-emerald-500 to-teal-300 md:text-5xl"
    >
      Contacto
    </h2>
    <hr />
    <div class="flex flex-col w-full gap-3 py-6">
      <h3
        class="w-full mx-auto font-sans text-lg font-bold text-center text-emerald-800"
      >
        Vía mail
      </h3>
      <div class="relative text-gray-800">
        <p class="w-full text-sm text-center break-words select-all md:text-lg">
          lacantera.recreacion@gmail.com
        </p>
      </div>
    </div>
    <hr />
    <div class="flex flex-col w-full gap-3 py-6">
      <h3
        class="w-full mx-auto font-sans text-lg font-bold text-center text-emerald-800"
      >
        En nuestras redes sociales.
      </h3>
      <div class="flex items-center justify-center gap-12">
        <a
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Ir a facebook de La Cantera Recreación"
          class="btn green hover:opacity-80 group"
          href="https://es-la.facebook.com/LaCanteraRecreacion/"
        >
          <IconFacebook />
        </a>
        <a
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Ir a Instagram de La Cantera Recreación"
          class="btn green hover:opacity-80 group"
          href="https://www.instagram.com/lacantera.recreacion/"
        >
          <IconInstagram />
        </a>
        <a
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Ir a youtube de La Cantera Recreación"
          class="btn green hover:opacity-80 group"
          href="https://www.youtube.com/channel/UCgyRMwOrJ8zKayunSI6pMGA"
        >
          <IconYoutube />
        </a>
      </div>
    </div>
    <hr />
    <div class="flex flex-col w-full gap-3 py-6 pb-12">
      <h3
        class="w-full mx-auto font-sans text-lg font-bold text-center text-emerald-800"
      >
        Sumate a nuestro newsletter.
      </h3>
      <div class="scale-125">
        <DialogEnterate client:load />
      </div>
    </div>
  </div>
  <div class="absolute inset-0 z-20 w-full h-screen opacity-90">
    <div class="absolute inset-0 z-10 w-full min-h-screen overflow-hidden">
      <GrainOne />
    </div>
    <div
      class="absolute inset-0 z-0 w-full min-h-screen overflow-hidden rotate-180"
    >
      <BlobScene />
    </div>
  </div>
</div>
