---
import GrainOne from "@/components/UI/Grain/GrainOne.astro";
import YoutubeLoaderHome from "./YoutubeLoaderHome.astro";
---

<div
  class="relative flex items-center justify-center w-full px-3 py-10 overflow-hidden md:py-24 bg-gradient-to-br from-pink-600 to-yellow-500"
>
  <div
    class="relative z-10 grid w-full gap-3 pb-6 md:grid-cols-2 max-w-7xl animate__fadeIn animate__animated"
  >
    <div class="flex flex-col gap-2 sm:gap-6 mt-2 lg:pr-6">
      <h2 class="font-mono text-3xl text-white lg:text-5xl">
        <!-- La Cantera:  -->
        <span class="font-mono font-light"
          >Proyectos en el campo de la recreación</span
        >
      </h2>
      <p class="max-w-xl font-sans sm:text-xl text-white">
        Nos dedicamos a la investigación, difusión y diseño de actividades y
        proyectos en el ámbito de la Recreación, la Educación y el Juego.
      </p>
      <div class="flex gap-6 mt-4 w-full">
        <a href="/institucional/nuestra-historia" class="btn green ">Nuestra historia</a>
        <a href="/noticias" class="btn">Ver novedades</a>
      </div>
    </div>
    <div class="">
      <YoutubeLoaderHome
        title="La Cantera"
        thumbnail="https://i3.ytimg.com/vi/pO0XwdA1Tcw/maxresdefault.jpg"
        video={`https://www.youtube.com/embed/pO0XwdA1Tcw`}
      />
    </div>
  </div>
  <div class="absolute inset-0 z-0 opacity-90">
    <div class="absolute inset-0 z-10">
      <GrainOne />
    </div>
  </div>
</div>
