---
import GrainOne from "@/components/UI/Grain/GrainOne.astro";
import WaveScene from "@/components/UI/Backgrounds/WaveScene.astro";

---

<div
  class="relative flex flex-col items-center gap-12 justify-center border-b-4 border-white h-96 bg-gradient-to-br from-blue-600 to-teal-600"
>
  <h2
    class="z-10 font-mono text-3xl md:text-6xl text-white text-transparent bg-clip-text bg-gradient-to-br via-85% from-blue-100 to-teal-200 intersectionAnimation"
  >
    ¿Qué hacemos?
  </h2>
  <a href="/que-hacemos" class="btn yellow z-20 relative"> Conocer más</a>
  <div class="absolute inset-0 z-0 opacity-90">
    <div class="absolute inset-0 z-0">
      <GrainOne />
    </div>
    <div class="absolute inset-0 z-0 opacity-60">
      <WaveScene/>
    </div>
  </div>
</div>
