---
import GrainOne from "@/components/UI/Grain/GrainOne.astro";
import BlobPlotScene from "@/components/UI/Backgrounds/BlobPlotScene.astro";
---

<div
  class="relative z-30 flex-col overflow-hidden gap-12 w-full flex items-center justify-center border-white px-6 py-24 md:py-64 border-y-4 bg-gradient-to-br from-indigo-600 to-indigo-600"
>
  <h2
    class="z-10 font-sans w-full text-center text-5xl text-white md:text-7xl intersectionAnimation"
  >
    ¿Quiénes somos?
  </h2>
  <p class="text-white text-2xl w-full font-sans max-w-3xl mx-auto text-center">
    Una organización sin fines de lucro que se dedica a la investigación,
    difusión y puesta en marcha de actividades y proyectos en el ámbito de la
    Recreación, la Educación y el Juego.
  </p>
  <a
    href="/institucional/quienes-somos"
    class="btn yellow z-20 relative intersectionAnimation"
  >
    Conocenos
  </a>
  <div class="absolute inset-0 z-0 opacity-90">
    <GrainOne />
  </div>
  <div class="absolute inset-0 z-0 opacity-10">
    <BlobPlotScene />
  </div>
</div>
