---
import GrainOne from "@/components/Grain/GrainOne.astro";
import WaveScene from "@/components/UI/Backgrounds/WaveScene.astro";
---

<div
  class="h-96 relative flex justify-center items-center border-y-4 border-white bg-gradient-to-br from-blue-600 to-indigo-600"
>
  <div class="z-10 font-mono text-white text-6xl">Quienes somos</div>
  <div class="absolute inset-0 z-0 opacity-90">
    <GrainOne />
  </div>
  <div class="absolute inset-0 z-0 opacity-80 mix-blend-overlay">
    <WaveScene/>
  </div>
</div>
