---
import GrainOne from "@/components/Grain/GrainOne.astro";
import WaveScene from "@/components/UI/Backgrounds/WaveScene.astro";
---

<div
  class="relative flex items-center justify-center border-white h-96 border-y-4 bg-gradient-to-br from-blue-600 to-indigo-600"
>
  <h2 class="z-10 font-mono text-3xl text-white md:text-6xl intersectionAnimation">Quienes somos</h2>
  <div class="absolute inset-0 z-0 opacity-90">
    <GrainOne />
  </div>
  <div class="absolute inset-0 z-0 opacity-80 mix-blend-overlay">
    <WaveScene/>
  </div>
</div>
