---
import GrainOne from "@/components/Grain/GrainOne.astro";
---

<div
  class="h-96 relative flex justify-center items-center bg-gradient-to-br from-blue-600 to-indigo-600"
>
  <div class="z-10 font-mono text-white text-6xl">Quienes somos</div>
  <div class="absolute inset-0 z-0 opacity-90">
    <div class="absolute inset-0 z-10">
      <GrainOne />
    </div>
  </div>
</div>
