---
import GrainOne from "@/components/UI/Grain/GrainOne.astro";
import BlobPlotScene from "@/components/UI/Backgrounds/BlobPlotScene.astro";
---

<div
  class="relative flex-col gap-12 flex items-center justify-center border-white h-96 border-y-4 bg-gradient-to-br from-indigo-600 to-indigo-600"
>
  <h2 class="z-10 font-mono text-3xl text-white md:text-6xl intersectionAnimation">¿Quiénes somos?</h2>
  <a href="/institucional/quienes-somos" class="btn yellow z-20 relative intersectionAnimation"> Conocer más</a>
  <div class="absolute inset-0 z-0 opacity-90">
    <GrainOne />
  </div>
  <div class="absolute inset-0 z-0 opacity-10">
    <BlobPlotScene/>
  </div>
</div>
