---
import GrainOne from "@/components/UI/Grain/GrainOne.astro";
import BlobPlotScene from "@/components/UI/Backgrounds/BlobPlotScene.astro";
import CarouselHome from "@/components/Carousel/CarouselHome.astro";
---

<div
  class="relative z-30 flex-col overflow-hidden gap-12 w-full flex items-center justify-center border-white border-y-4 bg-white"
>
  <h2
    class="z-20 font-sans w-full text-center text-3xl text-blue-900 md:text-5xl pt-24 intersectionAnimation"
  >
    Quiénes somos
  </h2>
  <p class="text-gray-900 text-2xl w-full relative z-20 px-6 font-sans max-w-3xl mx-auto text-center">
    Una organización sin fines de lucro que se dedica a la investigación,
    difusión y puesta en marcha de actividades y proyectos en el ámbito de la
    Recreación, la Educación y el Juego.
  </p>
  <a
    href="/institucional/quienes-somos"
    class="btn yellow z-20 relative intersectionAnimation"
  >
    Conocenos
  </a>
  <div class="w-full relative z-20 -mx-0 py-6">
    <CarouselHome
      images={[
        "/imagen1.jpg",
        "/imagen2.jpg",
        "/imagen3.jpg",
        "/imagen1.jpg",
        "/imagen2.jpg",
        "/imagen3.jpg",
        "/imagen1.jpg",
        "/imagen2.jpg",
        "/imagen3.jpg",
      ]}
    />
  </div>
  <div class="absolute inset-0 z-0 opacity-90 bg-gradient-to-b to-transparent  via-60% via-white/90 from-white">
  </div>
  <!-- <div class="absolute inset-0 z-0 opacity-50">
    <GrainOne />
  </div> -->
  <!-- <div class="absolute inset-0 z-0 opacity-10">
    <BlobPlotScene />
  </div> -->
</div>
