---
import GrainOne from "@/components/UI/Grain/GrainOne.astro";
---

<div
  class="relative flex items-center justify-center w-full px-3 min-h-screen overflow-hidden  bg-gradient-to-br from-indigo-600 to-purple-600"
>
  <div
    class="relative z-10 grid w-full gap-3 pb-6 md:grid-cols-2 max-w-7xl animate__fadeIn animate__animated"
  >
    <div class="flex flex-col gap-2 sm:gap-6 mt-2 lg:pr-6">
      <h2 class="text-5xl text-white lg:text-7xl">
        <!-- La Cantera:  -->
        <span class="font-hand"
          >Colaborá</span
        >
      </h2>
      <p class="max-w-xl sm:text-xl font-sans text-white">
        Nos dedicamos a la investigación, difusión y diseño de actividades y
        proyectos en el ámbito de la Recreación, la Educación y el Juego.
      </p>
      <div class="flex gap-6 mt-4 w-full">
        <a href="/institucional/nuestra-historia" class="btn">Conocé nuestra historia</a>
      </div>
    </div>
    <div class="">
      
    </div>
  </div>
  <div class="absolute inset-0 z-0 opacity-90">
    <div class="absolute inset-0 z-10">
      <GrainOne />
    </div>
  </div>
</div>
