---
import GrainOne from "@/components/UI/Grain/GrainOne.astro";
import YoutubeLoaderHome from "../Home/YoutubeLoaderHome.astro";
---

<div
  class="relative flex items-center justify-center w-full px-3 py-20 overflow-hidden bg-gradient-to-br from-indigo-600 to-purple-600"
>
  <div
    class="relative z-10 grid w-full gap-3 pb-6 md:grid-cols-2 max-w-7xl animate__fadeIn animate__animated"
  >
    <div class="flex flex-col gap-2 sm:gap-6 mt-2 lg:pr-6">
      <h2 class="text-5xl text-white lg:text-7xl">
        <span class="font-hand">Uniendo a través de los juegos de mesa</span>
      </h2>
      <p class="max-w-xl sm:text-xl font-sans text-white">
        Nuestra misión es promover la educación y la inclusión a través de los juegos de mesa. ¡Ayúdanos a marcar la diferencia!
      </p>
      <div class="flex gap-6 mt-4 w-full">
        <a href="#colabora" class="btn"
          >apoya nuestra misión</a
        >
      </div>
    </div>
    <div class="">
      <YoutubeLoaderHome
      title="La Cantera"
      thumbnail="https://i3.ytimg.com/vi/pO0XwdA1Tcw/maxresdefault.jpg"
      video={`https://www.youtube.com/embed/pO0XwdA1Tcw`}
    />
    </div>
  </div>
  <div class="absolute inset-0 z-0 opacity-90">
    <div class="absolute inset-0 z-10">
      <GrainOne />
    </div>
  </div>
</div>

