---
import GrainOne from "@/components/UI/Grain/GrainOne.astro";
import YoutubeLoaderHome from "../Home/YoutubeLoaderHome.astro";
import getYouTubeId from "get-youtube-id";
// class="relative h-[calc(100vh-50px)] md:h-[calc(100vh-85px)] overflow-hidden bg-indigo-900"
const about = await useSanityClient().fetch(
  `*[_type == "colabora"]  | order(publishedAt desc) [0]`
);
import { urlForImage } from "@/lib/urlForImage";

import { useSanityClient } from "astro-sanity";

---

<div
  class="relative flex items-center justify-center w-full px-3 py-20 overflow-hidden bg-gradient-to-br from-indigo-600 to-purple-600"
>
  <div
    class="relative z-10 grid w-full gap-3 pb-6 md:grid-cols-2 max-w-7xl animate__fadeIn animate__animated"
  >
    <div class="flex flex-col gap-2 sm:gap-6 mt-2 lg:pr-6">
      <h2 class="text-5xl text-white lg:text-7xl">
        <span class="font-hand">{about.title}</span>
      </h2>
      <p class="max-w-xl sm:text-xl font-sans text-white">
        {about.description}
      </p>
      <div class="flex gap-6 mt-4 w-full">
        <a href="#colabora" class="btn red">apoya nuestra misión</a>
        <!-- <a href="/institucional/nuestra-historia" class="btn yellow">Conoce nuestra historia</a> -->
      </div>
    </div>
    <div class="">
      <YoutubeLoaderHome
        title="La Cantera"
        thumbnail={urlForImage(about.mainImage).width(1600).height(900).url()}
        video={about.video}
      />
    </div>
  </div>
  <div class="absolute inset-0 z-0 opacity-90">
    <div class="absolute inset-0 z-10">
      <GrainOne />
    </div>
  </div>
</div>
